{% extends "base.html" %}

{% block navigation %}

<nav class="blog-navigation">
  <a href="{{ url_for('start') }}">На главную</a>
</nav>

{% endblock %}

{% block content %}
<main>
  <article>
    <h1>День шестнадцатый. Что такое Flask?</h1>
    <p>Flask — это упрощенная платформа Python для веб-приложений, которая обеспечивает основные возможности маршрутизации URL-адресов и визуализации страниц.
      Flask называют "микро"-платформой, так как она не предоставляет напрямую такие функции, как проверка форм, абстракция базы данных, проверка подлинности и т. д.
      Эти функции предоставляются специальными пакетами Python, называемыми расширениями Flask.</p>
    <p>
          <img src="{{ url_for('static', filename='files/flask.png') }}"  width="200" height="200">
        </p>
    <p>
    Из пакета flask нужно импортировать класс WCGI-приложения, на основе которого нужно будет создать новый объект:
    </p>
    <pre>
      from flask import Flask
      </pre>
    <p>
    app - стандартное имя для переменной основного приложения (англ. application - приложение).
      При создании объекта ему необходимо передать название в качестве первого параметра. Обычно используется атрибут __name__:
    </p>
    <pre>
      app = Flask(__name__)
      </pre>
    <p>
      Чтобы пользователь мог через браузер или другое приложение обратиться по какому-то адресу на сервере, его надо открыть. Для этого используется декоратор @app.route() (англ. route - путь).
      В скобках указывается непосредственный адрес, по которому можно будет обращаться. По умолчанию при обращении на любой сервер открывается адрес /:
    </p>
    <pre>
      @app.route('/')
      </pre>
    <p>
      Чтобы пользователь мог получить какой-то ответ при запросе по открытому адресу, этот ответ должен быть сформирован функцией.
      Она должна быть объявлена сразу под декоратором, открывающим путь (поэтому говорят, что функция декорирована),
      и возвращать строку, которую потом сможет интерпретировать браузер:
    </p>
    <pre>
      def hello():
          return 'Hello, World!'
    </pre>
    <p>
    Ещё под Flask написаны сотни расширений и плагинов, которые добавляют дополнительные возможности — разные виды аутентификации,
      управление базами данных и работу с формами. И всё это — бесплатно и с открытым кодом.
    </p>
  </article>
  <aside class="partnership">
    Тут могла быть ваша реклама
  </aside>
</main>
{% endblock %}