{%extends "base.html" %}


{% block content %}
<article>
    <h1>День девятнадцатый.</h1>
    <h3>flash-сообщения</h3>
    <p>Функция flash() в Flask — это эффективный способ отображения временных сообщений пользователю.
     Она может использоваться для отображения различных сообщений, включая сообщения об ошибках, уведомления, предупреждения и сообщения о статусе. </p>
    <p>Они выглядят так:</p>
    <pre>flash(message,category)</pre>
    <p>Аргументы:

        message - сообщение, которое нужно вывести.
        category - категория сообщения, можно использовать любую строку. Рекомендуются следующие значения:
        'message' для любого типа сообщения,
        'error' для ошибок,
        'info' для информационных сообщений
        'warning' для предупреждений. </p>
    <p> Чтобы извлечь флэш-сообщение из сессии, где оно хранится, и отобразить его на шаблоне, мы используем функцию get_flashed_messages(). </p>
    <pre> get_flashed_messages(with_categories, category_filter) </pre>
    <p>    with_categories : Необязательный кортеж параметров для упоминания категории (ошибка/информация/предупреждение)
           category_filter : Необязательный параметр для фильтрации и отображения только определенных сообщений.</p>
    </article>
  <aside class="partnership">
    Тут могла быть ваша реклама
  </aside>
</main>
{% endblock %}
    
