{%extends "base.html" %}


{% block content %}
<article>
    <h1>День семнадцатый.</h1>
    <h3>POST запрос</h3>
    <p>Метод POST используется для отправки данных на сервер. В отличие от метода GET, данные отправляются в теле HTTP-запроса и не отображаются в URL-адресе.</p>
    <p>Используйте метод POST, когда необходимо отправить данные на сервер для обработки и/или изменения состояния сервера.</p>
    <p>Преимущества метода POST:
    Безопасность: данные не отображаются в адресной строке.
    Можно отправлять большие объемы данных.
    </p>
</article>
<aside class="partnership">
  Тут могла быть ваша реклама]
</aside>

{% endblock %}
