{%extends "base.html" %}


{% block content %}
<article>
    <h1>День восемнадцатый.</h1>
    <h3>Авторизация и сессии</h3>
    <p>На сайт должен кто то зайти). Система поможет нам с этим:
        'username' сообщает нам имя пользователя, 'password', соответственно, пароль.</p>
    <pre>
        users = [
            {'username': "Имя пользователя", 'password': "Пароль пользователя"}
        ]
    </pre>
    <p> Но так же система должна запомнить пользователя. В этом ему поможет - "sessions", с помощью которого пользователь не будет несколько раз регестрироваться.
        Для этого при открытии пути к главной странице создаем переменную,
        в которую закладываем класс sessions с атрибутом get. В скобках прописываем, что мы запоминаем имя:</p>
    <pre>
    @app.route('/start')
    def start():
        username = session.get('username', None)
        return render_template('start.html')
    </pre>
</article>
<aside class="partnership">
  Тут могла быть ваша реклама
</aside>

{% endblock %}
